.game-menu {
    width: 100%;
    height: 100%;
    background-image: url("https://tva1.sinaimg.cn/large/008i3skNly1gwz6udknyag30hs0a0x6q.gif");
    background-size: 100% 100%;
    -webkit-user-select: none;
}

.game-menu-field {
    width: 20vw;
    position: relative;
    top: 40%;
    left: 20%;
}

.game-menu-field-item {
    color: white;
    height: 6vh;
    width: 18vw;
    font-size: 4vh;
    font-style: italic;
    text-align: center;
    background-color: rgba(39,21,28, 0.2);
    border-radius: 10px;
    letter-spacing: 0.5vw;
    cursor: pointer;
}

.game-menu-field-item:hover {
    transform: scale(1.2);
    transition: 100ms;
}

.game-playground {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}
